{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}
    <h1>Create new Candidature</h1>

    {{ include('candidature_rec/_form.html.twig') }}

    <a href="{{ path('candidature_rec_index') }}">Retour à la liste</a>
{% endblock %}
